### MANAGED BY {{ role_path|basename }} ANSIBLE ROLE ###
[Unit]
Description=Telegraf
Documentation=https://github.com/influxdata/telegraf
StartLimitIntervalSec=150
StartLimitBurst=4
After=network.target

[Service]
Type=notify
EnvironmentFile=-/etc/default/telegraf
User={{ telegraf_runas_user }}
ExecStart=/usr/bin/telegraf -config {{ telegraf_agent_config_path }}/telegraf.conf -config-directory {{ telegraf_agent_config_path }}/telegraf.d $TELEGRAF_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartForceExitStatus=SIGPIPE
KillMode=control-group

[Install]
WantedBy=multi-user.target